<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Admin Panel</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Template CSS -->
        <link href="/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    </head>

    <body class="dark">
        <main>
            <header class="main-header style-2 navbar">
                <div class="col-brand">
                    <div class="col-sm-7 col-md-9">
                        <div id="colorlib-logo text-white" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><a href="/admin" style="color: white;">PERFUMORA</a></div>
                    </div>
                </div>
               
            </header>
<section class="content-main mt-80 mb-80">
    <div class="card mx-auto card-login">
        <div class="card-body">
            <h4 class="card-title mb-4">Sign in</h4>
            <form method="post" action="/admin/login">
                <div class="mb-3">
                    <input name="email" id="email" class="form-control" placeholder="Username or email" type="email" />
                </div>
                <!-- form-group// -->
                <div class="mb-3">
                    <input name="password" id="password" class="form-control" placeholder="Password" type="password" />
                </div>
                <!-- form-group// -->
                <div class="mb-3">
                </div>
                <!-- form-group form-check .// -->
                 <div class="container">
                    <p id="err-message" class="text-center text-warning"></p>
                 </div>
                <div class="mb-4">
                    <button type="submit" id="submit-btn" class="btn btn-primary w-100">Login</button>
                </div>
                <!-- form-group// -->
            </form>
    </div>
</section>




        <!-- setting footer -->
        <%- include("../../views/partials/admin/footer") %>



        <script>


document.addEventListener('DOMContentLoaded',function(){
                    document.getElementById('submit-btn').addEventListener('click',formValidate)
                })


            async function formValidate(event){
                    event.preventDefault()

                    var email = document.getElementById('email').value.trim()
                    var password = document.getElementById('password').value.trim()
                    var msg = document.getElementById('err-message')
                    let isValid = true

                    msg.innerHTML = ''

                    let emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/

                    if (email == '') {
                    msg.innerHTML = 'Email is required'
                    isValid = false
                   }else if(email && !emailPattern.test(email)){
                    msg.innerHTML = 'Type valid Email'
                    isValid = false
                   }else if (password == '') {
                    msg.innerHTML = 'Password is required'
                    isValid = false
                   } else if (password.length < 8) {
                    msg.innerHTML = 'Password must be at least 8 characters long'
                    isValid = false
                   }

                   if (isValid) {
                       try {
                        
                        const response = await fetch('/admin/login',{
                            method:'POST',
                            headers:{
                                'content-type':'application/json'
                            },
                            body:JSON.stringify({email,password})
                        })

                        const data = await response.json()

                        if(response.ok && data.status){
                           if(data.redirectUrl){
                            window.location.href = data.redirectUrl
                           }else{
                            msg.innerHTML = 'redirect Failed'
                           }
                        }else{
                            msg.innerHTML = data.message
                        }
                       } catch (error) {
                        msg.innerHTML = 'Failed to connect to the server'
                       }
                   }
                }

                
        </script>