<!-- setting header -->
<%- include("../../views/partials/user/header") %>
<style>
    body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            .main-content {
                display: flex;
                flex-direction: column;
            }
    
            .login-form {
                margin-inline: auto;
                max-width: 400px;
                width: 100%;
            }
    
            .form-title {
                margin-top: 20px;
                text-align: start;
            }
    
            .forms input {
                font-family: "Rokkitt", Georgia, serif;
                width: 100%;
                padding: 10px;
                margin: 5px 0;
                outline: none;
                border: none;
                background-color: #d9d9d9;
            }
    
            .login-button {
                margin: 5px 0;
                text-align: center;
            }

            .back-btn {
                margin: 5px 0;
                text-align: start;
                color: #ef7c00;
            }
    
            .login-button {
                font-family: "Rokkitt", Georgia, serif;
                font-size: x-large;
                width: 100%;
                background-color: #ef7c00;
                color: rgb(0, 0, 0);
                outline: none;
                border: none;
                cursor: pointer;
            }
    
            .login-button:hover {
                background-color: #884600;
            }
            .image-section {
                width: 47rem;
               height: 32rem;
               overflow: hidden;
            }
    
            .image-section img {
                width: 100%;
            }
    
            @media (min-width: 768px) {
                .main-content {
                    flex-direction: row;
                    justify-content: center;
                }
            }
    
            .hr-line {
              margin-top: 0px;
              margin-bottom: 0px;  
              border-top: 2px solid #ef7c00;
            }

            .msg{
                text-align: center;
                margin: 20px;
            }
    
        </style>  
<hr class="hr-line">
<main class="main-content">
    <div class="login-form">
        <h3 class="form-title">ENTER EMAIL</h3>

        <form action="/forgotPassword" method="post" class="forms" id="emailForm">


            <input id="email" name="email" type="email" placeholder="EMAIL">

            <a href="/login" class="back-btn">Back</a>

            <%if(locals.message && message.length > 0){%>
                <div class="alert text-danger text-center">
                    <%= message %>
                </div>
            <%}%>
            <p class="text-danger text-center" id="err-message"></p>

            <button type="submit" id="submit-btn" class="login-button">CONFIRM</button>
        </form>
    </div>
    <div class="image-section"><img src="/images/perfume-ad.jpeg" alt=""></div>
</main>


<script>

document.addEventListener('DOMContentLoaded',function(){
                    document.getElementById('submit-btn').addEventListener('click',formValidate)
                })


            async function formValidate(event){
                    event.preventDefault()

                    var email = document.getElementById('email').value.trim()
                    var msg = document.getElementById('err-message')
                    let isValid = true

                    msg.innerHTML = ''


                    var emailPattern = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/
                    // Email validation
                    if (email == '') {
                    msg.innerHTML = 'Email is required'
                    isValid = false;
                   }else if (email && !emailPattern.test(email)) {
                    msg.innerHTML = 'Please enter a valid email'
                    isValid = false
                   }

                   if (isValid) {


                    document.getElementById('emailForm').submit()
        
                   }
                }
</script>

</body>
</html>