<!-- setting header -->
<%- include("../../views/partials/user/header") %>
<style>
    body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            .main-content {
                display: flex;
                flex-direction: column;
            }
    
            .login-form {
                margin-inline: auto;
                max-width: 400px;
                width: 100%;
            }
    
            .form-title {
                margin-top: 20px;
                text-align: start;
            }
    
            .forms input {
                font-family: "Rokkitt", Georgia, serif;
                width: 100%;
                padding: 10px;
                margin: 5px 0;
                outline: none;
                border: none;
                background-color: #d9d9d9;
            }
    
            .google-signin, .login-button, .login-link {
                margin: 5px 0;
                text-align: center;
            }
            .google-signin {
                margin-top: 120px;
            }
            .login-link a{
                color: black;
            }
            .forgot-password {
                margin: 5px 0;
                text-align: start;
                color: #ef7c00;
            }
    
            .login-button {
                font-family: "Rokkitt", Georgia, serif;
                font-size: x-large;
                width: 100%;
                background-color: #ef7c00;
                color: rgb(0, 0, 0);
                outline: none;
                border: none;
                cursor: pointer;
            }
    
            .login-button:hover {
                background-color: #884600;
            }
            .image-section {
                width: 47rem;
               height: 32rem;
               overflow: hidden;
            }
    
            .image-section img {
                width: 100%;
            }
    
            @media (min-width: 768px) {
                .main-content {
                    flex-direction: row;
                    justify-content: center;
                }
            }
    
            .hr-line {
              margin-top: 0px;
              margin-bottom: 0px;  
              border-top: 2px solid #ef7c00;
            }

            .msg{
               margin: 0px;
               color: crimson;
               font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
    
        </style>  
<hr class="hr-line">
<main class="main-content">
    <div class="login-form">
        <h3 class="form-title">LOGIN</h3>

        <form action="/login" method="post" class="forms" id="loginForm">


            <input id="email" name="email" type="email" placeholder="EMAIL">
            <span><p class="msg" id="msg1"></p></span>

            <input id="password" name="password" type="password" placeholder="PASSWORD">
            <span><p class="msg" id="msg2"></p></span>

            <a href="/forgotPassword" class="forgot-password">Forgot Password?</a>

            <%if(locals.message && message.length > 0){%>
                <div class="alert text-danger text-center">
                    <%= message %>
                </div>
            <%}%>
            <p class="text-danger text-center" id="err-message"></p>

            <div class="google-signin">
                <a href="/auth/google">
                    <h4 class="fa-brands fa-google"></h4>
                </a>
            </div>

            <div class="login-link">
                <a href="/register">Create an Account</a>
            </div>

            <button type="submit" id="submit-btn" class="login-button">LOGIN</button>
        </form>
    </div>
    <div class="image-section"><img src="/images/perfume-ad.jpeg" alt=""></div>
</main>


<script>

document.addEventListener('DOMContentLoaded',function(){
                    document.getElementById('submit-btn').addEventListener('click',formValidate)
                })


            async function formValidate(event){
                    event.preventDefault()

                    var email = document.getElementById('email').value.trim()
                    var password = document.getElementById('password').value.trim()
                    var msg = document.getElementById('err-message')
                    var msg1 = document.getElementById('msg1')
                    var msg2 = document.getElementById('msg2')
                    let isValid = true

                    msg.innerHTML = ''


                    var emailPattern = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/
                    if (email == '') {
                    msg1.innerHTML = 'Email is required'
                    isValid = false
                   }else if (email && !emailPattern.test(email)) {
                    msg1.innerHTML = 'Please enter a valid email'
                    isValid = false
                   }

                   if (password == '') {
                    msg2.innerHTML = 'Password is required'
                    isValid = false
                   } else if (password.length < 8) {
                    msg2.innerHTML = 'Password must be at least 8 characters long'
                    isValid = false
                   }

                   if (isValid) {
                       try {
                        
                        const response = await fetch('/login',{
                            method:'POST',
                            headers:{
                                'content-type':'application/json'
                            },
                            body:JSON.stringify({email,password})
                        })

                        const data = await response.json()

                        if(response.ok && data.status){
                           if(data.redirectUrl){
                            window.location.href = data.redirectUrl
                           }else{
                            msg.innerHTML = 'redirect Failed'
                           }
                        }else{
                            msg.innerHTML = data.message
                        }
                       } catch (error) {
                        msg.innerHTML = 'Failed to connect to the server'
                        console.error('Fetch error',error)
                       }
                   }    
                }
</script>

</body>
</html>