<!-- setting header -->
<%- include("../../views/partials/user/header") %>



<style>
    body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            .main-content {
                display: flex;
                flex-direction: column;
            }
    
            .signup-form {
                margin-inline: auto;
                max-width: 400px;
                width: 100%;
            }
    
            .form-title {
                margin-top: 20px;
                text-align: start;
            }
    
            .forms input {
                font-family: "Rokkitt", Georgia, serif;
                width: 100%;
                padding: 10px;
                margin: 5px 0;
                outline: none;
                border: none;
                background-color: #d9d9d9;
            }
    
            .signup-button, .login-link {
                margin: 5px 0;
                text-align: center;
            }
            .google-signin{
                margin-top: 25px;
                text-align: center;
            }
            .login-link a{
                color: black;
            }
            .profile-image {
                margin: 5px 0;
                text-align: start;
                color: #ef7c00;
            }
    
            .signup-button {
                font-family: "Rokkitt", Georgia, serif;
                font-size: x-large;
                width: 100%;
                background-color: #ef7c00;
                color: rgb(0, 0, 0);
                outline: none;
                border: none;
                cursor: pointer;
            }
    
            .signup-button:hover {
                background-color: #884600;
            }
            .image-section {
                width: 47rem;
               height: 32rem;
               overflow: hidden;
            }
    
            .image-section img {
                width: 100%;
            }
    
            @media (min-width: 768px) {
                .main-content {
                    flex-direction: row;
                    justify-content: center;
                }
            }
    
            .hr-line {
              margin-top: 0px;
              margin-bottom: 0px;  
              border-top: 2px solid #ef7c00;
            }
            .msg{
                margin: 0px;
                color: crimson;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
    
        </style>
    
    
            <hr class="hr-line">
            <main class="main-content">
                <div class="signup-form">
                    <h3 class="form-title">CREATE AN ACCOUNT</h3>


                    <form id='register-form' action="/register" method="post" class="forms">


                        <input id="username" name="username" type="text" placeholder="USERNAME">
                        <span><p class="msg" id="msg1"></p></span>
                        <input id="email" name="email" type="email" placeholder="EMAIL">
                        <span><p class="msg" id="msg2"></p></span>
                        <input id="password" name="password" type="password" placeholder="PASSWORD">
                        <span><p class="msg" id="msg3"></p></span>
                        <input id="confirmPassword" name="confirmPassword" type="password" placeholder="CONFIRM PASSWORD">
                        <span><p class="msg" id="msg4"></p></span>
                        <a href="#" class="profile-image">PROFILE IMAGE</a>

                        <%if(locals.message && message.length > 0){%>
                            <div class="alert text-danger text-center">
                                <%= message %>
                            </div>
                        <%}%>
    
                        <div class="google-signin">
                            <a href="/auth/google">
                                <h4 class="fa-brands fa-google"></h4>
                            </a>
                            
                        </div>
    
                        <div class="login-link">
                            <a href="/login">Already have an Account</a>
                        </div>
    
                        <button type="button" id="submit-btn" class="signup-button">SIGN UP</button>
                    </form>
                </div>
                <div class="image-section"><img src="./Image/perfume-ad.jpeg" alt=""></div>
            </main>
    

            <script>


                document.addEventListener('DOMContentLoaded',function(){
                    document.getElementById('submit-btn').addEventListener('click',formValidate)
                })

     function formValidate(e) {
              e.preventDefault()

    var username = document.getElementById('username').value
    var email = document.getElementById('email').value
    var password = document.getElementById('password').value
    var confirmPassword = document.getElementById('confirmPassword').value
    var msg1 = document.getElementById('msg1')
    var msg2 = document.getElementById('msg2')
    var msg3 = document.getElementById('msg3')
    var msg4 = document.getElementById('msg4')
    let isValid = true

    // Clear previous messages
    msg1.innerHTML = ''
    msg2.innerHTML = ''
    msg3.innerHTML = ''
    msg4.innerHTML = ''

    
    var usernamePattern = /^[a-zA-Z][a-zA-Z0-9_]{2,15}$/
     if (username == '') {
        msg1.innerHTML = 'Username is required'
        isValid = false
    }
    else if(username < 4){
      msg1.innerHTML = 'Minimum 4 Charcters'
      isValid = false
    }
    else if(!usernamePattern.test(username)){
        msg1.innerHTML = 'Dont contain any Special Characters'
        isValid = false
    }


    var emailPattern = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/

     if (email == '') {
        msg2.innerHTML = 'Email is required'
        isValid = false;
    } 
    // Email validation
    else if (email && !emailPattern.test(email)) {
        msg2.innerHTML = 'Please enter a valid email'
        isValid = false
    }

    

    var passwordPattern1 = /^(?=.*[a-zA-Z])/
    var passwordPattern2 = /^(?=.*[0-9])/

    if (password == '') {
        msg3.innerHTML = 'Password is required'
        isValid = false
    }
    else if (password && password.length < 8) {
    msg3.innerHTML = 'Password must be at least 8 characters long'
        isValid = false
    }
     // Password validations
    else if (password && !passwordPattern1.test(password)) {
        msg3.innerHTML = 'Password must contain at least one letter'
        isValid = false
    }
    else if (password && !passwordPattern2.test(password)) {
        msg3.innerHTML = 'Password must contain at least one number'
        isValid = false
    }


    if (confirmPassword == '') {
        msg4.innerHTML = 'Confirm Password is required'
        isValid = false
    }
    else if (password != confirmPassword) {
        msg4.innerHTML = 'Passwords do not match'
        isValid = false
    }
    

    if (isValid) {
        document.getElementById('register-form').submit()
    } else {
        return false
    }
}
    

            </script>
    </body>
    </html>